@import url(https://fonts.googleapis.com/css?family=Open+Sans|Monsterrat|Cabin+Sketch);
:root {
    --primary-color: #fa613f;
    --primary-highlight-color: #fd441b;
    --secondary-color: #fff55a;
    --first-level: 0px 2px 5px #000;
    --second-level: 0px 5px 10px #000;
}
body {
    margin: 0;
    scroll-behavior: smooth;
}
.container{
    position: relative;
    overflow-x: hidden;
    background: var(--primary-color);
    background-image: url('../media/popcorn.png');
    /* background-attachment: fixed; */

    font-family: 'Monsterrat', sans-serif;
}

/* ----  useful classes ----- */

p{
    line-height: 32px;
    font-size: 18px;
}
h3{
    color: var(--primary-color);
}
a{
    text-decoration: none;
}

.primary-color {
    color: var(--primary-color);
}
.secondary-color {
    color: var(--secondary-color);
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.section-headline {
    padding: 20px 0px;
    text-align: center;
}
section:not(:first-of-type){
    margin-right: 50px;
    margin-left: 50px;
}

.article-container{
    background-color: #fff;
    padding: 50px 10px;
}


/* ---- main navigation bar ------ */

#nav-bar {
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px;

    z-index: 2;
}

#main-menu {
    text-align: right;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
}

.menu-item {
    padding: 5px;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    text-decoration: none;
    color: inherit;
    transition: 500ms border ease-out;
}

.menu-item:hover {
    border-bottom-color: var(--secondary-color);
}

.social-media .menu-item{
    float: left;
}

#main-menu>#hamburger {
    display: none;
    padding: 5px;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

/* ---- home page ---- */

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
}

#title {
    margin: 0px;
    font-size: 150px;
    background-color: var(--secondary-color);
    color: var(--primary-color); 
}

#tag {
    margin: 0px;
    color: #fff;
    font-size: 40px;
}

/* ----- portal ------ */
.portal {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.portal a {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
}
.portal a i {
    animation: attention 600ms infinite alternate;
}
@keyframes attention {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(-20px);
    }
}
/* ----- portfolio section ------ */

#portfolio {
    margin-top: 200px;
}

.project {
    display: none;
}

.project.active {
    display: flex;
}

.project-images {
    display: flex;
    margin-right: 20px;
}

/* ----- project display window ------ */
.project-window {
    margin-right: 5px;
}

.project-window.desktop img {
    border-top-width: 25px;
}

.project-window.mobile img {
    border-top-width: 25px;
    border-bottom-width: 25px;
}

.project-window img {
    box-sizing: border-box;
    border: 5px solid #000000;
    border-radius: 5px;
    height: 250px;
}


/* ----- project navigation buttons ----- */
#project-nav {
    display: flex;
    justify-content: space-between;
}

#project-nav button {
    border: none;
    outline: none;
    background-color: #fff;
    padding: 20px;
    margin: 10px 0px;
    width: 49.8%;
    color: #000;
    font-size: 18px;
}

#project-nav button:hover {
    background-color: var(--secondary-color);
    color: #000;
    cursor: pointer;
}

#project-nav button.unclickable {
    background-color: grey;
    color: #fff;
}

#project-nav button.unclickable:hover {
    cursor: not-allowed;
}

/* ---- about section ---- */
#about{
    display: flex;
    flex-direction: column;

    margin-top: 50px;
    margin-bottom: -125px;
}
#about-photo{
    align-self: center;
    
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
#about .article-container{
    position: relative;
    top: -125px;

    padding-top: 125px;
    z-index: -1;
}

/* ----- skills section ----- */
#skills{
    margin-top: 200px;

    display: flex;
}
#skills div{
    flex-basis: 100%;
}
#languages, #languages .section-headline{
    text-align: left;
}
#frameworks, #frameworks .section-headline{
    text-align: center;
}
#tools, #tools .section-headline{
    text-align: right;
}
#skills .background{
    display: flex;
    justify-content: center;

    background-size: cover;
    background-attachment: fixed;

    height: 500px;
    overflow: hidden;
}
#skills .background:hover{
    cursor: pointer;
}
#languages .background{
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    background-image: url('../media/language.jpg');
}
#frameworks .background{
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    background-image: url('../media/framework.jpg');
}
#tools .background{
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    background-image: url('../media/tools.jpg');
}
#skills .background .hover-text{
    align-self: center;
    position: absolute;
    
    font-size: 50px;
    text-shadow: var(--second-level);
    color: var(--primary-color);
}
#languages .article-container{
    padding-right: 20%;
}
#frameworks .article-container{
    padding-right: 20%;
    padding-left: 20%;
}
#tools .article-container{
    padding-left: 20%;
}
#skills .article-container{
    transform: translateY(-1000px);
    transition: transform 500ms;

    height: 100%;
    background-color: rgba(255, 245, 90, 0.9);
}
#skills .background:hover .article-container{
    transform: translateY(0px);
}
#skills .skill{
    margin-bottom: 20px;
}
#skills h3, #skills p{
    margin: 0;
}

/* ---- contact section ----- */
#contact{
    margin-top: 200px;
    margin-bottom: 100px;
}
#contact div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-item{
    padding: 10px;
    margin: 5px;
    border-radius: 20px;    
    background-color: #fff;

    color: #000;
}
.contact-item:hover{
    background-color: var(--secondary-color);
}
.contact-item i{
    margin-right: 20px;
}

/* ---- footer section ---- */
#footer{
    margin: 0;
    margin-top: 200px;
    padding: 50px 0;
    background-color: #000;
    color: #fff;

    text-align: center;
}
#footer #menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#copyright-info{
    font-weight: 700;
    font-size: 12px;
}


/* ---- media queries ---- */
@media(max-width: 800px) {
    #nav-bar {
        padding: 10px;
    }
    #title{
        font-size: 75px;
    }
    #tag{
        font-size: 20px;
    }    

    section:not(:first-of-type){
        margin: 0px;
    }
    .article-container{
        padding: 50px 20px;
    }
    .project.active {
        display: block;
    }
    .project-window {
        margin: 0px;
    }
    .project-window.desktop img {
        width: 100%;
        height: auto;
    }
    .project-window.mobile {
        display: none;
    }

    .project-images, #about-photo{
        margin-right: 0px;
    }
    #about .article-container{
        display: block;
    }

    #skills{
        display: block;
    }
    #languages .section-headline, #frameworks .section-headline, #tools .section-headline{
        text-align: center;
    }
    #languages .background,
    #frameworks .background,
    #tools .background{
        clip-path: none;
    }
    
}

@media(max-width: 400px) {
    #main-menu>#hamburger {
        display: block;
    }
    #main-menu .menu-item {
        display: none;
        border: none;
        padding: 20px 0;

        text-align: center;
        color: #000;
    }
    #main-menu .menu-item:hover {
        background-color: var(--secondary-color);
    }
    .social-media>.menu-item {
        float: none;
    }
    #main-menu.open {
        background-color: #fff;
        height: 95vh;
        box-shadow: var(--first-level);
    }
    #main-menu.open>#hamburger {
        color: #000;
    }
    #main-menu.open>.menu-item, #main-menu.open>.social-media>.menu-item {
        display: block;
    }

    #title{
        font-size: 50px;
    }
    #tag{
        font-size: 15px;
    }
}