@import url(https://fonts.googleapis.com/css?family=Lora);
.container{
  display:flex;
  /* justify-content: center; */

  font-family: 'Lora', serif;
  line-height:30px;
}
.sidebar{
  
}
.sidebar .btn{
  margin:0;
  padding:10px 15px;
  color:white;

  cursor: pointer;
}

.social-media{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.social-media a{
  margin:5px 0;
  color:#fff;
  font-size:22px;
  height:40px;
  width:40px;
  border-radius:50%;
  text-decoration:none;
  
  display:flex;
  align-items:center;
  justify-content:center;
}
#github{
  background-color:#1D1F20;
}
#facebook{
  background-color:#45619D;
}
#linkedin{
  background-color:#1B86BC;
}


#main-content{
  max-width:600px;
  color:white;
  border-radius:0 20px 20px 0;
}
#main-content article{
  padding: 10px;
  width: inherit;
  border-radius: inherit;
}
#about-me, #about-button{
  background-color:#3498db;
}
#portfolio, #portfolio-button{
  background-color:#8e44ad;
}
#contact-me, #contact-button{
  background-color:#2ecc71;
}
#about-me #profile{
  float:left;
  margin-right:12px;
  height:200px;
}
@media(max-width:400px){
  #about-me #profile{
    width: 100%;
    height: initial;
  }
}
#about-me .fa-youtube-play{
  color:red;
  font-size:25px;
}
#contact-me, #portfolio{
  display:none;
}

.panel{
  background-color:rgba(0,0,0,0.5);
  padding:5px;
  margin:5px;
}
.panel:hover{
  background-color:rgba(0,0,0,0.7);
}
.panel .thumbnail{
  width:100%;
  
}
.panel .caption{
  text-align:center;
}

